name: build-and-publish-docker

on:

  workflow_dispatch:

  push:
    branches:
      - "master"
    paths:
      - react/**
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Get tag latest
        id: tag_latest
        run: echo "::set-output name=tag_latest::$(echo $(echo ${{ github.ref_name }} | sed 's/[^a-z]*//g' | sed 's/^master//g'; echo latest) | tr " " ".")"
      - name: Log tags
        id: log_tags
        run: |
          echo ${{ steps.tag_latest.outputs.tag_latest }}
          echo ${{ github.ref_name }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Docker Image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./react
          push: true
          tags: |
            interlinkproject/frontend:${{ steps.tag_latest.outputs.tag_latest }}
            interlinkproject/frontend:${{ github.ref_name }}
          cache-from: type=registry,ref=interlinkproject/frontend:buildcache
          cache-to: type=registry,ref=interlinkproject/frontend:buildcache,mode=max
      - name: Trigger Dev Deployment
        uses: octokit/request-action@v2.x
        id: trigger_dev_deployment
        with:
          route: POST /repos/{owner}/{repo}/dispatches
          owner: interlink-project
          repo: interlink-project
          event_type: update-dev-environment
        env:
          GITHUB_TOKEN: ${{ secrets.INTERLINK_PROJECT_GITHUB_TOKEN }}
